<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Page Not Found</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        setTimeout(function() {
            window.location.replace("https://challenge.alexkrantz.com/")
        }, 3000);
    </script>
</head>
<body>
    <h1>404</h1>
    <h3>The page you are trying to access does not exist.</h3>
    <p>If you are not redirected in 3 seconds, click <a href="/home">here</a>.</p>
    <h6>/{{ page }}</h6>
</body>
</html>