<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Finished</title>
</head>
<body>
    <h1>Congratulations {{ name }}!!!</h1>
    <p>You have successfully completed Krantz's Challenge in {{ time }}. I will email you from <a href="mailto:krantzie124@gmail.com">krantzie124@gmail.com</a> in the following 24 hours about your reward.</p>
    <p>Feel free to <a href="{{ url_for('start') }}">play again</a> if you would like. Note: you will not get a second reward.</p>
    <p><a href="{{ url_for('index') }}">Home</a></p>
</body>
</html>